{% extends 'base.html' %}

{% block content %}
<h1>Crear una cuenta</h1>

{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    <p>
        <label for="username">Usuario:</label>
        <input type="text" name="username" id="username">
    </p>

    <p>
        <label for="password1">Contraseña:</label>
        <input type="password" name="password1" id="password1">
    </p>

    <p>
        <label for="password2">Repetir contraseña:</label>
        <input type="password" name="password2" id="password2">
    </p>
    <div>
        <button type="submit">Crear cuenta</button>
        <a href="/auth/login">¿Ya tienes una cuenta?</a>
    </div>
    
</form>
{% endblock %}